@import '../../assets/styles/sizes';
@import '../../assets/styles/colors';

.job-grid {
  &__footer {
    text-align: center;
    color: $grey-3;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;

    &--empty {
      padding-top: 1em;
    }
  }
}
