@import '../../assets/styles/sizes';

.job-grid__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;

  &--empty {
    padding-top: 1em;
  }
}

.job-grid__footer {
  text-align: center;
}
