
$blue-0: #004A7B;
$blue-1: #0072BE;
$blue-2: #6AB5F6;
$blue-3: #85C2F7;
$blue-4: #E5EFF7;

$grey-1: #303036;
$grey-2: #4D4F5C;
$grey-3: #707070;
$grey-4: #C4C4C4;
$grey-5: #E0E0E0;
$grey-6: #E5EFF7;

$white: #FFFFFF;
$red: #F66A6A;
$green: #35A346;
$light-green: #B2DF8A;
$yellow: #F2F55E;