$blue-0: #004a7b;
$blue-1: #0072be;
$blue-2: #6ab5f6;
$blue-3: #85c2f7;
$blue-4: #e5eff7;

$grey-1: #303036;
$grey-2: #4d4f5c;
$grey-3: #707070;
$grey-4: #9a9a9a;
$grey-5: #c4c4c4;
$grey-6: #e0e0e0;
$grey-7: #ededed;
$grey-8: #fbfbfb;

$white: #ffffff;
$red: #f66a6a;
$green: #35a346;
$light-green: #b2df8a;
$yellow: #f2f55e;
