@import './lib/modularscale';

$modularscale: (
  base: 1em,
  ratio: 1.25,
);

// font sizes
$font-size-heading: ms(3);
$font-size-sub-heading: ms(1);

$font-size-small: ms(-1);
$font-size-standard: ms(0);
$font-size-medium: ms(2);
$font-size-large: ms(3);

// image sizes
$image-size-large: 300px;
$image-size-medium: 250px;
