@import '../../assets/styles/colors';

.header {
  display: grid;
  grid-template-columns: 200px auto;
  background: $white;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: $blue-2;
    color: $white;
    font-size: 2rem;
    font-weight: bold;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
