@import '../../../assets/styles/colors';

.pledge-form {
  .input-group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &--inline {
      flex-direction: row;
    }

    &__error {
      color: $red;
    }
  }
}
