@{
    ViewData["Title"] = "Home Page";
}

@model TestMessage

<div class="text-center">
    <dl>
        <dt>ID</dt>
        <dd>@Model.Id</dd>
        <dt>Message</dt>
        <dd>@Model.Message</dd>
        <dt>Timestamp</dt>
        <dd>@Model.Timestamp</dd>
    </dl>
</div>
