@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TestMessage>

<div class="text-center">
    <h1 class="display-4">Welcome Printers</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <ul>
        @foreach (var m in Model)
        {
            <li>@m.Message -- @m.Timestamp <a asp-action="Detail" asp-route-id="@m.Id">View</a></li>
        }
    </ul>
</div>

<div class="text-center">
    <form asp-action="Index" method="post">
        <input type="text" name="Message" />
        <input type="submit" />
    </form>
</div>