@{
    ViewData["Title"] = "Raven DB Instances";
}
@model IList<string>

<h1>Raven DB Instances Resolved from DNS</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var entry in Model)
        {
            <li>@entry</li>
        }
    </ul>
}
else
{
    <h2>No Entries</h2>
}

