@import '../../assets/styles/sizes';
@import '../../assets/styles/colors';

.wep-prompt__message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
