@import '../../assets/styles/colors';
@import '../../assets/styles/sizes';

.create-proj {
  &__section {
    margin-top: 0.5rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    &--inline {
      flex-direction: row;
      & label {
        min-width: 100px;
      }
      & .wep-input {
        flex-grow: 1;
        margin-left: 1rem;
      }
    }
    &__error {
      color: $red;
    }
  }

  &__basic-info {
    display: grid;
    grid-template-areas: 'key-info thumb' 'desc desc';
    grid-template-columns: auto minmax(
        calc(#{$image-size-standard} + #{$image-size-standard} + #{$padding-standard}),
        50%
      );
    grid-gap: 1rem;
    margin-top: 1rem;
  }
  &__key-info {
    grid-area: key-info;
  }
  &__thumb {
    grid-area: thumb;
    display: flex;

    .file-drop {
      font-size: $font-size-sub-heading;
      padding: $padding-standard;
      width: $image-size-standard;
      height: $image-size-standard;
    }
  }
  &__desc {
    grid-area: desc;
  }

  &__image {
    width: $image-size-standard;
    height: $image-size-standard;
    margin-right: $padding-standard;
    border: 1px solid $grey-5;

    &--blank {
      background-color: $grey-8;
      display: flex;
      align-items: center;
      text-align: center;
      padding: $padding-standard;
    }
  }
}
