@import '../../assets/styles/colors';
@import '../../assets/styles/effects';

.app-layout {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;

  &__content-wrap {
    display: grid;
    grid-template-areas:
      'header header'
      'nav content';
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
  }

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: nav;
  }

  &__content-main {
    grid-area: content;
    overflow-y: auto;
    background: $blue-4;
    box-shadow: inset $card-shadow;
  }
  &__content {
    display: grid;
    min-height: 100%;
  }
}
