@import '../../assets/styles/colors';

.project {
  &__header {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $grey-1;
  }

  // TODO: this is temporary
  img {
    max-width: 100px;
  }

  &__overview {
    display: flex;
    justify-content: space-around;
  }

  &__thumb {
    flex: 0 1 50%;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex: 2 0 50%;
    padding: 0 2em;
  }

  &__org-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $grey-1;
      order: 1;
      margin-left: 1rem;
    }
  }

  &__org {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  &__org img {
    width: 52px;
    height: 100%;
  }
  &__org img + &__org-name {
    margin-left: 0.5rem;
  }

  &__org-addr {
    order: 2;
    margin-left: 1rem;
  }

  &__progress {
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  &__overview-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__overview-buttons__pledge {
    flex-grow: 1;
  }
  &__overview-buttons__share {
    margin-left: 1rem;
  }

  &__body {
    max-width: 900px;
    margin: auto;
  }

  .react-tabs__tab-list {
    // list reset:
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    // custom styles:
    display: flex;
    margin: 1rem 0;
  }

  .react-tabs__tab {
    position: relative;
    flex-grow: 1;
    text-align: center;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    outline: none;
    cursor: pointer;
    user-select: none;
    &:first-child {
      border-left: none;
    }
    span {
      position: relative;

      &:after {
        content: attr(data-count);
        position: absolute;
        top: -0.4em;
        right: -0.8em;
        font-size: 0.8em;
        color: $blue-1;
      }
    }
    &--selected {
      span:before {
        content: '';
        position: absolute;
        bottom: -0.3em;
        left: -10%;
        width: 120%;
        height: 2px;
        background: $blue-1;
      }
    }
  }
}
