@import '../../assets/styles/colors';
@import '../../assets/styles/sizes';

.button {
  border: none;
  border-radius: 5px;

  &__inner-container {
    display: flex;
    align-items: center;
  }
  // this solution feels a little hacky, maybe find something better
  &__icon:not(:only-child) {
    margin-right: ms(-2);
  }

  &:hover,
  &:focus {
    background: $blue-2;
  }

  &--primary {
    color: $white;
    background: $blue-1;
  }
  &--success {
    color: $white;
    background: $green;
  }
  &--danger {
    color: $white;
    background: $red;
  }

  &--deselected {
    color: black;
    background: $grey-6;
  }

  &--small {
    padding: ms(-3);
  }

  &--medium {
    padding: ms(-2);
  }

  &--large {
    padding: ms(-1);
  }
}
