@import '../../assets/styles/sizes';

.status-view {
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: $font-size-medium;
  flex-direction: column;

  &__text {
    max-width: 80%;
    padding-bottom: $padding-standard;
  }
}
